body {
    font-family: "Titillium Web", sans-serif;
}

.column-header {
    font-weight: bolder;
}

.grid {
    display: grid;
    column-gap: 0.75rem;
}

.grid-2-col {
    display: grid;
    column-gap: 0.75rem;
    grid-template-columns: repeat(2, max-content);
}

.grid-3-col {
    display: grid;
    column-gap: 0.75rem;
    grid-template-columns: repeat(3, max-content);
}

.grid-4-col {
    display: grid;
    column-gap: 0.75rem;
    grid-template-columns: repeat(4, max-content);
}

.hidden {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
    box-shadow: none;
}

label {
    font-weight: bolder;
}